:host {
    overflow: hidden!important;
}

.splitter-container {
    height: calc(100% - 22px);
}

.layout-splittable-panel {
    width: 100%;
    height: 100%;
}

.layout-splitter-horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.layout-splitter-vertical {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.layout-splitter-horizontal
.splittable-panel-region {
    display: inline-flex;
    flex: 1;
    overflow: auto;
}

.layout-splitter-vertical
.splittable-panel-region {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.layout-splitter-horizontal
.shell-splitter{
    width: 5px;
}

.layout-splitter-vertical
.shell-splitter{
    height: 5px;
}

/* Splitter toolbar selectors */

.splitter-toolbar {
    width: 100%;
    height: 22px;
    display: inline-flex;
    justify-content: end;
}

.splitter-toolbar-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondary);
    width: 18px;
    height: 18px;
    margin: 2px;
    font-size: 10px;
    padding: 1px;
    border-width: thin;
    border-radius: 5px;
    border-color: var(--color-border-default);
    background-color: var(--color-bg-base);
}

.splitter-toolbar-button:hover {
   background-color: var(--color-tab-close-hover);
   cursor: pointer;
}